body {
    background: url(https://img.freepik.com/vector-gratis/fondo-abstracto-manchas-acuarela_23-2149107181.jpg?semt=ais_hybrid) no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.generador {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: 4rem;
}
